html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.columns {
    max-width: 100%;
    display: flex;
    flex: 1 0 auto;
    align-items: stretch;
}

.column {
    min-height: 100%;
}

.show-contacts {
    flex: none;
    width: 2%;
}

.show-contacts-btn {
    border-bottom-right-radius: 90%;
    border-top-right-radius: 90%;
}

.w-30 {
    min-width: 30%;
    max-width: 70%;
}

.w-70 {
    min-width: 10%;
    max-width: 70%;
}

.space-between {
    justify-content: space-between;
}

.has-position-relative {
    position: relative;
}

.has-min-height-1 {
    min-height: 1%;
}


.has-min-height-40 {
    min-height: 40%;
}

.has-min-height-100 {
    min-height: 100%;
}

.has-max-height-40 {
    max-height: 40%;
}

.has-max-height-100 {
    max-height: 60%;
}

.has-height-40 {
    height: 40%;
}

.has-align-items-start {
    align-items: start;
}

.has-align-items-stretch {
    align-items: stretch;
}

.has-flex-1-0-auto {
    flex: 1 0 auto;
}

.has-invisible-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.has-invisible-scroll::-webkit-scrollbar {
    display: none;
}

.card {
    overflow: auto;
}

.is-wrap {
    flex-wrap: wrap;
}

.is-overflow-auto {
    overflow: auto;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.main-header {

}

.main-content {
    height: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-footer {
    flex: 0 1 40px;
    padding: 5px 0 0 0;
    margin: 0 0 0 0;
    background-image: radial-gradient( circle 343px at 46.3% 47.5%,  rgba(242,242,242,1) 0%, rgba(241,241,241,1) 72.9% );
}

.main-absolute {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.has-text-orange {
    color: lightskyblue;
}

.has-background-orange {
    background: orange;
}

.has-background-lightgray {
    background: rgba(0, 50, 50, 0.3);
}

.image.is-192x192 {
    height: 192px;
    width: 192px;
}


.flex-body {
    flex: 1 0 auto;
}

.box {
    overflow: auto;
}

.chat-message-box {
    margin-bottom: 2.5rem;
    border-radius: 20px;
}

.chat-contact-box {
    border-bottom-left-radius: 0;
    background-image: radial-gradient( circle 489px at 49.3% 46.6%,  rgba(255,214,126,1) 0%, rgba(253,200,0,1) 100.2% );
    box-shadow: -3px 5px 5px lightgray;
}

.chat-user-box {
    border-bottom-right-radius: 0;
    background-image: linear-gradient( 180.7deg,  rgba(0,213,255,1) 2.5%, rgba(79,255,255,1) 97.7% );
    box-shadow: -1px 6px 7px lightgray;
}

.display-none {
    display: none;
}

.has-background-heavy-rain {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.has-background-fresh-oasis {
    background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
}

.has-background-sp {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.has-background-phoenix-start {
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.gradient-box {
    position: relative;
    background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    opacity: 0; /* Initially transparent */
    transition: opacity 0.5s ease-in-out;
}

.gradient-box:hover .gradient-overlay {
    opacity: 1; /* Show the overlay on hover */
}

.btn-grad-lightblue {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    margin: 8px;
    padding: 8px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border: none;
    border-radius: 10px;
    display: block;
}

.btn-grad-lightblue:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.btn-grad-rude {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
    margin: 8px;
    padding: 8px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border: none;
    border-radius: 10px;
    display: block;
}

.btn-grad-rude:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.btn-grad-lightgreen {
    background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD 51%, #4CB8C4 100%);
    margin: 8px;
    padding: 8px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border: none;
    border-radius: 10px;
    display: block;
}

.btn-grad-lightgreen:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.btn-grad-darkred {
    background-image: linear-gradient(to right, #000000 0%, #e74c3c 51%, #000000 100%);
    margin: 8px;
    padding: 8px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border: none;
    border-radius: 10px;
    display: block;
}

.btn-grad-darkred:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.auth-form-btn-style {
    padding: 15px 45px;
}

.has-height-100 {
    height: 100%;
}

.inline-input-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.message-friend {
    border-bottom-left-radius: 0;
    background: lightgray;
    overflow: hidden;
}

.message-my {
    border-bottom-right-radius: 0;
    background: lightgreen;
}

.has-text-darkorange {
    color: darkorange;
}

.has-text-lightskyblue {
    color: lightskyblue;
}

.has-shadow-darkgray {
    text-shadow: 1px -1px darkgray;
}

.has-fz-20 {
    font-size: 20px;
}